$md-screen: 426px;
$lg-screen: 769px;

.grid-container {
  background-color: #ddd;
  height:100vh;
  text-align: center;
  display: grid;
  gap: 20px 0px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "controller controller controller"
    ". area-higgs-boson ."
    "area-quarks area-quarks area-quarks"
    "area-neutrinos area-neutrinos area-neutrinos"
    "area-force area-force area-force"
    "infobox infobox infobox";

  @media (min-width: $md-screen) {
    gap:0px 0px;
   grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 0.66fr);
  gap: 0px 0px;
  grid-template-areas:
    "area-quarks area-quarks area-quarks area-force-carrying-particles area-force-carrying-particles"
    "area-quarks area-quarks area-quarks area-force-carrying-particles area-force-carrying-particles"
    "area-charged-leptons area-charged-leptons area-charged-leptons infobox infobox"
    "area-neutrinos area-neutrinos area-neutrinos infobox infobox";
  }
}
.area-quarks { grid-area: area-quarks; background-color: #bcd5e3;}
.area-force-carrying-particles { grid-area: area-force-carrying-particles; background-color: #f7bb86;}
.area-higgs-boson { grid-area: area-higgs-boson; background-color: #fed7c3;}
.area-charged-leptons { grid-area: area-charged-leptons; background-color: #e3bcbf;}
.area-neutrinos { grid-area: area-neutrinos; background-color: #7a161e;}
.controller { grid-area: controller; }
.infobox { grid-area: infobox; }

.infobox {
  border: 3px solid #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;

  @media (min-width: $lg-screen) { 
    position:unset;
  }
}

.zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px 10px;
  padding:10px 0 0 10px;
  grid-template-areas:
    ". . ."
    ". . .";

    div {
      background-color:#999;
      opacity:0.6;
      width:29vw;
      height:29vw;

      @media (min-width: $lg-screen) { 
        width: 12vw;
        height:12vw;
      }
    }
}

@media all and (-ms-high-contrast:none) {

  .zone {
  display: -ms-grid;
  -ms-grid-columns: repeat(3, 1fr);
  -ms-grid-rows: repeat(2, 1fr);
  gap: 10px 10px;
}

.grid-container {
  display: -ms-grid;
  -ms-grid-columns: repeat(7, 1fr);
  -ms-grid-rows: repeat(5, 1fr);
  gap: 0px 0px;
}

.area-quarks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.area-force {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
}

.area-higgs-boson {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
}

.area-neutrinos {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 0;
}

.controller {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.infobox {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
}

}