$md-screen: 426px;
$lg-screen: 769px;

sub {
  font-size: 2rem;
    display: flex;
    align-items: baseline;
    vertical-align: unset;
}

.zone {
  transition: background-color 0.1s;
}

.grid-container {
  background-color: #ddd;
  height:100vh;
  text-align: center;
  display: grid;
  gap: 20px 0px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "controller controller controller"
    ". area-higgs-boson ."
    "area-quarks area-quarks area-quarks"
    "area-neutrinos area-neutrinos area-neutrinos"
    "area-force area-force area-force"
    "infobox infobox infobox";

  @media (min-width: $md-screen) {
    gap:0px 0px;
   grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 0.66fr);
  gap: 0px 0px;
  grid-template-areas:
    "area-quarks area-quarks area-quarks area-force-carrying-particles area-force-carrying-particles"
    "area-quarks area-quarks area-quarks area-force-carrying-particles area-force-carrying-particles"
    "area-charged-leptons area-charged-leptons area-charged-leptons infobox infobox"
    "area-neutrinos area-neutrinos area-neutrinos infobox infobox";
  }
}
.area-quarks { grid-area: area-quarks; background-color: #a0cdea;}
.area-charged-leptons { grid-area: area-charged-leptons; background-color: #d98c91;}
.area-neutrinos { grid-area: area-neutrinos; background-color: #ac001e;}
.area-force-carrying-particles { grid-area: area-force-carrying-particles; background-color: #f5c68b;}
.area-higgs-boson { grid-area: area-higgs-boson; background-color: #e5755d;}
.controller { grid-area: controller; }
.infobox { grid-area: infobox; }


.mode-antimatter .area-quarks { background-color: #948eb0;}
.mode-antimatter .area-charged-leptons { background-color: #82b59b;}
.mode-antimatter .area-neutrinos { background-color: #326c47;}
.mode-antimatter .area-force-carrying-particles { background-color: #f6c68b;}


.infobox {
  // border: 3px solid #222;
  position: fixed;
  bottom: 0;
  width: calc(100% - 40px);
  background-color: white;
  font-size:13px;
  overflow:hidden;

    padding: 60px 20px 20px;
    text-align: left;

  @media (min-width: $lg-screen) { 
    position:unset;
  }

  h3, p {
    margin:10px;
  }
}

.controller {
    position: absolute;
    padding:0 1rem;
    height: 30px;
    background-color: #999;
    top: calc(50vh - 15px);
    left: calc(25vw - 60px);
    display: flex;
    align-items: center;
}

.zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding:2vw;
}

.mode-antimatter .area-quarks .particle .symbol,
.mode-antimatter .area-neutrinos .particle .symbol {
  text-decoration: underline;
  text-underline-offset: -0.9em;
}

.particle {
    background-color: rgba(255,255,255,0.5);
    width:14vw;
    height:18vh;
    margin:0 1vw;
    // display:flex;
    border-radius:10px;
    text-align:center;
    justify-content: center;
    align-items: center;
    flex-basis: 1;

    .symbol, .name {
      padding:0 10px;
      width: calc(100% - 20px);
    }

    .symbol {
      font-size: 4rem;
      font-weight: bold;
      display:block;
    }

    .name {
      font-size:1rem;
      display:block;
    }
  }

.area-higgs-boson {
    position: absolute;
    background-color: rgb(240, 129, 109);
    top: calc(50vh - 9vh - 5px);
    left: calc(60vw - 7vw - 5px);
    border: 5px solid white;
}

@media all and (-ms-high-contrast:none) {

  .zone {
  display: -ms-grid;
  -ms-grid-columns: repeat(3, 1fr);
  -ms-grid-rows: repeat(2, 1fr);
  gap: 10px 10px;
}

.grid-container {
  display: -ms-grid;
  -ms-grid-columns: repeat(7, 1fr);
  -ms-grid-rows: repeat(5, 1fr);
  gap: 0px 0px;
}

.area-quarks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.area-force {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
}

.area-higgs-boson {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
}

.area-neutrinos {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 0;
}

.controller {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.infobox {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
}

}